# Ignore the following directories
Results/
Data/
External_software/
.ipynb_checkpoints/
.vscode/
yeast_RF_results/
yeast_rrBLUP_results/
Scripts/All_Algorithms/
Scripts/Data_Vis/Data_Vis_Figures_64k_geno/
Scripts/Data_Vis/ORF_CNO_Figures/
Scripts/Data_Vis/SNP_Figures/
Scripts/Data_Vis/Pheno_Figures/
Scripts/Genomic_Prediction_rrBLUP/rrBLUP_Figures_64k_geno/
Scripts/Genomic_Prediction_RF/RF_64k_geno/
Scripts/Genomic_Prediction_RF/SHAP/ORFs/baseline/
Scripts/Genomic_Prediction_RF/SHAP/ORFs/fs/
Scripts/Genomic_Prediction_RF/SHAP/SNPs/baseline/
Scripts/Genomic_Prediction_RF/SHAP/SNPs/fs/
Scripts/Genomic_Prediction_RKHS/logs
Scripts/Genomic_Prediction_RKHS/output
Scripts/Genomic_Prediction_RKHS/data
Scripts/Genomic_Prediction_XGBoost/XGBoost_Results_64k_geno/
Scripts/Genomic_Prediction_BL/BL_Figures_64k_geno/
Scripts/Genomic_Prediction_GBLUP/GBLUP_64k_geno/
Scripts/GxE/GxE_64k_geno/
Scripts/Genomic_Prediction_BayesC/BayesC_64k_geno/
Scripts/Genomic_Prediction_BayesC/Results_YPDCAFEIN40_chr1/
Scripts/Genomic_Prediction_BayesC/Results_YPDCAFEIN40_chr2/
Scripts/Genomic_Prediction_BayesC/Results_YPDCAFEIN40_chr3/
Scripts/Genomic_Prediction_BayesC/Results_YPDCAFEIN40_chr4/
Scripts/Genomic_Prediction_BayesC/Results_YPDCAFEIN40_chr5/
Scripts/Genomic_Prediction_BayesC/Results_YPDCAFEIN40_chr6/
Scripts/Genomic_Prediction_BayesC/Results_YPDCAFEIN40_chr7/
Scripts/Genomic_Prediction_BayesC/Results_YPDCAFEIN40_chr8/
Scripts/Genomic_Prediction_BayesC/Results_YPDCAFEIN40_chr9/
Scripts/Genomic_Prediction_BayesC/Results_YPDCAFEIN40_chr10/
Scripts/Genomic_Prediction_BayesC/Results_YPDCAFEIN40_chr11/
Scripts/Genomic_Prediction_BayesC/Results_YPDCAFEIN40_chr12/
Scripts/Genomic_Prediction_RKHS/logs
Scripts/Genomic_Prediction_RKHS/output

# Files to ignore
Job_Submission_Scripts/SNPs_as_Feat/*.out
Job_Submission_Scripts/SNPs_as_Feat/Feature_Selection/*.out
Job_Submission_Scripts/SNPs_as_Feat/Feature_Selection/rrBLUP/*.out
Job_Submission_Scripts/SNPs_as_Feat/Feature_Selection/RF/*.out
Job_Submission_Scripts/SNPs_as_Feat/Feature_Selection/BL/*.out
Job_Submission_Scripts/SNPs_as_Feat/Feature_Selection/XGBoost/*.out
Job_Submission_Scripts/SNPs_as_Feat/RF/rf_PCs_baseline_*
Job_Submission_Scripts/SNPs_as_Feat/RF/*.out
Job_Submission_Scripts/SNPs_as_Feat/RF/rf_PCs_baseline_59808023
Job_Submission_Scripts/SNPs_as_Feat/RF/rf_PCs_baseline_59808024
Job_Submission_Scripts/SNPs_as_Feat/Multi-Output_RF/*.out
Job_Submission_Scripts/SNPs_as_Feat/BL/*.out
Job_Submission_Scripts/SNPs_as_Feat/rrBLUP/*.out
Job_Submission_Scripts/SNPs_as_Feat/RF/rf_PCs_baseline_59808023
Job_Submission_Scripts/SNPs_as_Feat/RF/rf_PCs_baseline_59808024
Job_Submission_Scripts/SNPs_as_Feat/Feature_Selection/RF/*.out
Job_Submission_Scripts/SNPs_as_Feat/Feature_Selection/BL/*.out
Job_Submission_Scripts/SNPs_as_Feat/Feature_Selection/XGBoost/*.out
Job_Submission_Scripts/ORFs_as_Feat/RF/*.out
Job_Submission_Scripts/PCs_as_Feat/RF/*.out
Job_Submission_Scripts/Blast_ORFs/*.out
Scripts/Genomic_Prediction_BayesC/*.bin
Scripts/Genomic_Prediction_BayesC/*.dat
Scripts/Genomic_Prediction_BayesC/*.pdf
Scripts/Genomic_Prediction_BayesC/*.csv
Scripts/Genomic_Prediction_BayesC/*.txt
Scripts/Genomic_Prediction_BayesC/bayesc_12000__*
Scripts/Genomic_Prediction_BayesC/wv_1kb_sliding_*
Scripts/Genomic_Prediction_GBLUP/BGLR_GBLUP/*.dat
Scripts/Genomic_Prediction_XGBoost/*.save
Scripts/Genomic_Prediction_XGBoost/*.txt
Scripts/Genomic_Prediction_XGBoost/xgboost_all__*
Scripts/Genomic_Prediction_XGBoost/*.sb
Scripts/Genomic_Prediction_XGBoost/*.out
Scripts/Genomic_Prediction_RF/RF_make_FS_*
Scripts/Genomic_Prediction_RF/*.out
Scripts/Genomic_Prediction_RF/*.csv
Scripts/Genomic_Prediction_RF/*.pdf
Scripts/Genomic_Prediction_RF/*.pkl
Scripts/Genomic_Prediction_RF/autopep8_test_Write_FS_script_RF.py
Scripts/Genomic_Prediction_RF/black_test_Write_FS_script_RF.py
Scripts/Genomic_Prediction_RF/yapf_Write_FS_script_RF.py
Scripts/Genomic_Prediction_rrBLUP/*.out
Scripts/GxE/*.pdf
Scripts/Data_Vis/*.out
Scripts/Data_Vis/*.csv
Scripts/Data_Vis/*.pdf
Scripts/Data_Vis/*.txt
Scripts/Data_Vis/*.tsv
Scripts/Data_Vis/Figures/*.pdf
Results/*.csv
Results/*.pdf
.RData
.Rhistory
Rplots.pdf
Job_Submission_Scripts/ORFs_as_Feat/pheno_training.csv
Job_Submission_Scripts/ORFs_as_Feat/rrBLUP_ORFs_step9-12_45358058
Job_Submission_Scripts/ORFs_as_Feat/rrBLUP_ORFs_step14_baseline_45359414
Scripts/Genomic_Prediction_BayesC/BayesC_mapping.html
Scripts/Genomic_Prediction_BayesC/BayesC_mapping.Rmd
Scripts/Genomic_Prediction_BayesC/VariableSelection.Rmd
Results/BL_average_cv_R2.csv
Results/BL_average_test_R2.csv
Results/RF_average_R2_.csv
Results/rrBLUP_ORF_vs_SNP_test_R2.pdf
Results/rrBLUP_average_cv_R2.csv
Results/rrBLUP_average_test_R2.csv
Scripts/Data_Vis/Figures/geno_isolate_kinship.pdf
Scripts/Data_Vis/Figures/pheno_envs_corr.pdf
Scripts/Data_Vis/Figures/pheno_heatmap.pdf
Scripts/Data_Vis/Figures/pheno_isolates_corr.pdf
Scripts/Data_Vis/Figures/test_set_pheno_distributions.pdf
Scripts/Data_Vis/Figures/training_set_pheno_distributions.pdf
Scripts/Genomic_Prediction_BayesC/BayesC_mapping.html