# Ignore the following directories
Data/
External_software/
.ipynb_checkpoints/
.vscode/
yeast_RF_results/
yeast_rrBLUP_results/
Job_Submission_Scripts/
Job_Submission_Scripts/
Scripts/All_Algorithms/
Scripts/Data_Vis/Figures/
Scripts/Genomic_Prediction_rrBLUP/Figures/
Scripts/Genomic_Prediction_RF/SHAP/
Scripts/Genomic_Prediction_XGBoost/Results/
Scripts/Genomic_Prediction_BayesC/Results/
Scripts/Genomic_Prediction_BayesC/Results_1kb/
Scripts/Genomic_Prediction_BayesC/Results_5kb/
Scripts/Genomic_Prediction_BayesC/Results_chr1/
Scripts/Genomic_Prediction_BL/Slurm output/
Scripts/Genomic_Prediction_BL/Figures/

# Files to ignore
Job_Submission_Scripts/SNPs_as_Feat/Feature_Selection/*.out
Job_Submission_Scripts/SNPs_as_Feat/*.out
Scripts/Genomic_Prediction_BayesC/*.bin
Scripts/Genomic_Prediction_BayesC/*.dat
Scripts/Genomic_Prediction_BayesC/*.pdf
Scripts/Genomic_Prediction_BayesC/*.csv
Scripts/Genomic_Prediction_BayesC/*.txt
Scripts/Genomic_Prediction_BayesC/bayesc_12000__*
Scripts/Genomic_Prediction_BayesC/wv_1kb_sliding_*
Scripts/Genomic_Prediction_GBLUP/BGLR_GBLUP/*.dat
Scripts/Genomic_Prediction_XGBoost/*.save
Scripts/Genomic_Prediction_XGBoost/*.txt
Scripts/Genomic_Prediction_XGBoost/xgboost_all__*
Scripts/Genomic_Prediction_XGBoost/*.sb
Scripts/Genomic_Prediction_RF/RF_make_FS_*
Scripts/Genomic_Prediction_RF/*.out
Scripts/Genomic_Prediction_RF/*.csv
Scripts/Data_Vis/*.out
Scripts/Data_Vis/*.csv
Scripts/Data_Vis/*.pdf
Scripts/Data_Vis/*.txt
Scripts/Data_Vis/Figures/*.pdf
Results/*.csv
Results/*.pdf
.RData
.Rhistory
Rplots.pdf

